<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<style>
    .form-inline{
        display: flex;
        justify-content: center;

    }
    .form-inline .form-group {
        margin-right:16px;

    }

</style>

<body>


<div class="d-flex flex-column" style="background-color: sandybrown; height: 100vh">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="" style="padding-left: 80px; padding-right: 80px; padding-top: 80px">
        <div class="jumbotron mx-auto" style="background-color: #8b4513; text-align: center">
            <span th:if="${errorMessage}">
                <h1 class="display-4 text-center" style="color: white" >Store is still open and can't be deleted</h1>
            </span>
            <span th:unless="${errorMessage}">
                <h1 class="display-4 text-center" style="color: white" th:text="${store.name} + 'Store is successfully deleted!'"></h1>
            </span>
            <a href="/store" style="margin-top: 10vh"><< Back to List of Stores</a>
        </div>
    </div>
</div>



</body>
</html>