<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>View Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background: #FAEBD7">
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="text-align: center">Search Boba & Topping</h2>
                <br>
                <form method="GET" action="/search">
                    <div class="d-flex justify-content-center">
                        <div>
                            <div class="form-inline">
                                <div class="form-group mb-2">
                                    <select class="form-control" id="boba" name="boba">
                                        <option value="selected" selected hidden>-- Select Boba Tea Name --</option>
                                        <option th:each="boba : ${setBoba}" th:value="${boba}" th:text="${boba}"></option>
                                    </select>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class="form-control" id="topping" name="topping">
                                        <option value="selected" selected hidden>-- Select Topping Name --</option>
                                        <option th:each="topping : ${listTopping}" th:value="${topping.name}" th:text="${topping.name}"></option>
                                    </select>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Search">
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <table class="table">
                    <thead class="" style="background-color: #491217">
                    <tr style="color: white">
                        <th>No</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Ice</th>
                        <th>Sugar</th>
                        <th>Topping</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="background-color: #ffe8a1" th:each="boba : ${listBoba}">
                        <td th:text="${boba.idBobaTea}"></td>
                        <td th:text="${boba.name}"></td>
                        <td th:text="${boba.price}"></td>
                        <td th:text="${boba.size}"></td>
                        <td th:text="${boba.ice_level}"></td>
                        <td th:text="${boba.sugar_level}"></td>
                        <td th:text="${boba.topping.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>